{
  "printWidth": 240,
  "trailingComma": "none",
  "tabWidth": 2,
  "bracketSpacing": false,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "endOfLine": "lf"
}
